@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 1.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link {
    @apply border-2;
    @apply border-white;
    @apply size-16;
    @apply p-1;
  }
  .para {
    @apply text-xl;
    @apply max-w-96;
    @apply leading-relaxed;
    @apply pb-8;
  }
  .button {
    @apply border-2;
    @apply border-white;
    @apply h-9;
    @apply p-1;
  }
}

@layer base {
  li {
    @apply pb-4;
  }
}
